---
import { Icon } from "astro-icon/components";
export interface Props {
    //id: string;
    slug: string;
    title: string;
    description: string;
    icon: string;
}

const {  slug, title, icon } = Astro.props;
---

<!-- Pasamos el slug como identificador unico -->
<a class="flex flex-col items-center text-center transition-all" href={`/${slug}`}>
    <div
      class="w-16 h-16 rounded-full border-2 border-cyan-400 p-3 transition-transform duration-300 ease-in-out group-hover:rotate-12 group-hover:scale-110"
    >
      <Icon name={icon} class="w-full h-full" />
    </div>
    <p class="mt-2 gradient-text font-extrabold text-xl">
      {title}
    </p>
  </a>
